{% extends "base.html" %}
{% block slug %}contribute{% endblock %}
{% block title %}Contribute{% endblock %}

{% block primary %}
	
<h2>Got an Idea?</h2>	
		
<p>Have a cool idea for a programming challenge? Discovered a bug? Please let us know. This page will include 
	a submission form in the near future, but please direct email to pq@sixthgear.ca for now.</p>
	
<p>Thanks!</p>

{# <form action="contribute_submit" method="get" accept-charset="utf-8"> #}
{# 		 #}
{# 	<select name="some_name" id="some_name" size="1"> #}
{# 		<option value="option1">Lorem ipsum dolor</option> #}
{# 		<option value="option2">Consectetur Adipisicing</option>		 #}
{# 	</select> #}
{# 	<textarea name="Name" rows="8" cols="40"></textarea> #}
{# 	<p><input type="submit" value="Continue &rarr;"></p> #}
{# </form> #}

{% endblock %}