{% extends "base.html" %}
{% block slug %}home{% endblock %}
{% block title %}Home{% endblock %}

{% block primary %}

<h2>Welcome!</h2>

<p>Every so often, a group of lazy assholes get together and participate in an informal programming challenge. This 
	site was built to help. There are no prizes, besides a slight increase in self-worth and a disturbing sense of camaraderie with your fellow coder.</p>
	
<p>The list of currently running challenges is over there &rarr; in the sidebar. Have a quick look at the <a href="">rules</a> before you get started. We don't have many, but they help keep the shit running downhill. You will need an account to contribute, but don't worry, the registration process could be a lot worse.</p>

<p>Proggitquiz was forged deep in the bowels of the <a href="irc://irc.freenode.net/##proggit">##proggit</a> IRC channel on freenode, which in turn is a community centered around the <a href="http://reddit.com/r/programming">programming subreddit</a>. Drop in, and say hello. Good luck!</p>

{% endblock %}
