{% extends "base.html" %}
{% block slug %}rules{% endblock %}
{% block title %}Rules?{% endblock %}

{% block primary %}
	
<h2>WTF?! Rules?</h2>	
	
<ol class="rules_list">
	
	<li>You may <strong>use any freely available language</strong> you wish. Let us know if we missed your favourite language.</li>

	<li>Given the correct tools, <strong>anyone should be able to build and run your entry</strong>. If there are requirements and prerequisites that your code depends on, please list them as comments along with your entry. You are not required to make your entry work across multiple platform and OS combinations, but it would sure be cool if it did. ;)</li>
	
	<li>Your correct entry should be contained within a <strong>single file</strong>, which can be pasted into the submission form.</li>

	<li><strong>DO NOT upload any malicious or dangerous code.</strong></li>

	<li><strong>DO NOT upload any intentionally obfuscated code.</strong></li>

	<li><strong>DO NOT use any of the submission or comment forms for spam or advertising.</strong></li>

	<li>We reserve the right to remove any entry, and ban any user we deem to be inappropriate, dangerous or offensive.</li>

</ol>

<h2>Some suggestions.</h2>	

<ol class="rules_list">
	<li><strong>PLEASE</strong> include loads of comments in your submission. Tell us why you made certain key decisions, and explain how the tricky parts of your algorithms work. We'd love to hear as much as you're willing to tell us.</li>

	{# <li><strong>PLEASE</strong> try to stay positive in the submission comments. Try constructive criticism instead of insults.</li> #}
</ol>

{% endblock %}

