{% extends "challenge.html" %}
{% load markup %}
{% load humanize %}
{% load challenges %}

{% block slug %}challenge{% endblock %}
{% block title %}Challenge Solution{% endblock %}


{% block primary %}
	
	<h2>{{ problem.title }}</h2>	

	<ul>
		<li><strong>{{ solution.set.title }} set solution</strong> <!-- ({{ solution.language }}) -->by {{ solution.author }}</li>
		<li>{{ solution.submitted|naturaltime }}</li>
		<li><a href="{% url pq.views.solution_download problem.id solution.id  %}">Download</a> |
		<a href="{% url pq.views.solution_raw problem.id solution.id  %}">Raw</a>
		<!-- {% if user == solution.author %}
		| <a href="{# url pq.views.solution_delete problem.id solution.id  #}">Delete</a>
		{% endif %} -->
		</li>
	</ul>

	<div id="code">
		<pre class="prettyprint">{{ solution.source.read|escape }}</pre>
	</div>
	
{% endblock %}

